/*====================[Averta]====================*/
@font-face{
  font-family:'Averta-Regular';
  src:url('../fonts/AvertaDemo/AvertaDemo-Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Averta-ExtraBoldItalic';
  src:url('../fonts/AvertaDemo/AvertaDemo-ExtraBoldItalic.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Averta-Bold';
  src:url('../fonts/averta 1/Averta-Bold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}