$mh1: 50px;
#cs-header{
  .uk-logo{
    position: relative;
    width: 200px;
    img{
      width: 200px;
    }
  }
  .uk-navbar-left{
    .uk-navbar-item{
      min-height: $mh1;
    }
    .uk-navbar-nav{
      >li{
        >a{
          min-height: $mh1;
          color: #a62d2a;
          font-family:'Averta-Semibold';
          position: relative;
          font-size: 18px;
          &:hover{
            &:after{
              opacity: 1;
            }
          }
          &:after{
            content: '';
            position: absolute;
            bottom: 10px;
            left: 15px;
            height: 2px;
            background-color: #c49530;
            width: calc(100% - 30px);
            opacity: 0;
          }
        }
      }
    }
  }
  .uk-navbar-right{
    .uk-icon-button{
      color: #a62d2a;
      border-color: #a62d2a;
      background-color: transparent;
      border: 1px solid #a62d2a;
    }
  }
}
#cs-block6{
  background-color: #a62d2a;
  color: #FFFFFF;
  padding: 12px 0;
  h1{
    color: #FFFFFF;
    font-family:'Averta-ExtraBold';
    font-size: 50px;
    @media(max-width: 780px){
      //opacity: 0;
      font-size: 20px;
    }
    @media(max-width: 560px){
      //opacity: 0;
      //font-size: 20px;
      text-align: right !important;
      font-size: 16px;
      padding: 12px 0;
    }
  }
}