.cs-img1{
  max-width: 420px;
  width: 100%;
}
.cs-img2{
  max-width: 350px;
  width: 100%;
  margin-bottom: -60px !important;
  #cs-block3 &{
    position: relative;
    bottom: -50px;
  }
}
.cs-list2{
  li{
    font-size: 20px;
    font-family:'Averta-ExtraBoldItalic';
    color: #c42127;
    white-space: nowrap;
    &:nth-child(n+2){
      margin-top: 40px;
    }
  }
}
.cs-list1{
  li{
    font-family:'Averta-ExtraBoldItalic';
    color: #f16321;
    font-size: 20px;
    &:nth-child(n+2){
      margin-top: 50px;
    }
    &:nth-child(1){
      margin-left: -190px;
    }
    &:nth-child(2){
      margin-left: -100px;
      span{
        padding-left: 20px;
        display: block;
      }
    }
    &:nth-child(3){
      margin-left: -50px;
    }
  }
}
.cs-desc1{
  font-family:'Averta-Regular';
  font-size: 20px;
  color: #060709;
  margin: 0;
}
.cs-title1{
  text-transform: uppercase;
  font-family:'Averta-Bold';
  #cs-block1 &{
    margin: 0;
    color: #f16321;
  }
  #cs-block2 &{
    color: #ffffff;
  }
  #cs-block3 &{
    color: #c42127;
  }
}
$radius1: 50%;
.cs-box2{
  .uk-cover-container{
    img{
      width: 295px !important;
      height: 190px !important;
      border-radius: 0 0 $radius1 $radius1;
    }
  }
  .title{
    font-family:'Averta-Bold';
    font-size: 14px;
    margin: 0;
    a{
      color: #cb292e;
      text-decoration: none;
    }
  }
}